@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #B45DE3;
    --cor1: #9273FA;
    --cor2: #5D75E3;
    --cor3: #4DB5FF;
    --cor4: black;  
    --cor6: white;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    padding: 10px;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.5em;
}


nav {
    background-color: var(--cor2);
    padding: 5px;
    font-size: 1.2em;
}

nav > a {
    text-decoration: none;
    color: var(--cor6);
    margin-right: 40px;
    padding: 5px;
}


nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    padding: auto;
   
}


div {
    display: inline-table;
    background-color: var(--cor0);
    border: 1px solid black;
    height: 150px;
    width: 200px;
    color: var(--cor6);
    margin-bottom: 3px;
 }

 div:hover {
    background-color: lightgray;
    }

main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        margin-bottom: 30px;
        background-color: var(--cor6);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
    }

    main .img {
        display: block;
        margin: auto;
        padding: 10px;
    }

    h1 {
        text-align: center;
        padding: 15px;    
    }

    h2 {
        text-align: center;
        padding: 15px;    
    }

    footer {
        background-color: var(--cor5);
        color: black;
        text-align: center;
        padding: 2px;
        margin: 10px;
        text-decoration: none;
    }

    .aside {
        margin: auto;
    }
    
    div img {
        padding: 15px;
        display: block;
        margin: auto;
        width: 120px;
        height: 120px;
    }

   