@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #A8C0CE,#AAB0B5,#768591);
}

main{
    background-color:#27A0D7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f8f4057c;
    width: 900px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px white;
}

h2 {
    color: white;
    text-align: center;
}
p{
    text-align: justify;
    line-height: 1.5;
}

li {
    color: antiquewhite;
    }

a {
    color:rgb(242, 229, 214);
}

h3 {
    color:bisque;
}

mark {
    background-color: yellowgreen;
}

img {
    width: 100%;
    }

.icone >img {
width: 25%;
}

.icone1 >img {
    width: 5%;
    }
    
